@page "/"
@using IAChatDB.Components.ChatIA

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Fixed="false">
    <MudGrid Class="my-2">

        <MudItem xs="12">
            <h3>
                Chatea con tu base de datos
                <div style="float: right">
                    <MudIconButton OnClick="@(() => ToggleDrawer(Anchor.End))" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                </div>
            </h3>
            <MudDivider Class="mb-6"></MudDivider>
            <MudGrid>
                <MudItem xs="8">

                    <EditForm Class="mb-6" Model="@Model" FormName="IaChatSql" OnSubmit="ObtenerDatosSql">
                        <div>
                            <MudTextField @bind-Value="@Model.PromptIASQL" T="string" Label="Ingresa tu consulta a la IA" Variant="Variant.Text" Lines="3" />
                        </div>
                        <div>
                            <MudButton Class="my-6" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" ButtonType="ButtonType.Submit" Color="Color.Primary">Enviar</MudButton>
                        </div>
                    </EditForm>

                    @if (Loading)
                    {
                        <p Class="my-6">@LoadingMessage <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" /></p>
                    }

                </MudItem>
                <MudItem xs="4">
                </MudItem>
            </MudGrid>
            <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Resultado">
                    @if (DataDB.Count > 0)
                    {
                        <MudTable SortLabel="Sort By" Items="@DataDB.Skip(1)" Bordered="true" Striped="true">
                            <HeaderContent>
                                @foreach (var item in DataDB.FirstOrDefault()!)
                                {
                                    <MudTh>@item</MudTh>
                                }
                            </HeaderContent>
                            <RowTemplate>
                                @foreach (var item in context)
                                {
                                    <MudTd DataLabel="item">@item</MudTd>
                                }
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    }
                    else
                    {
                        <p>@Respuesta</p>
                    }
                </MudTabPanel>
                <MudTabPanel Text="Query SQL">
                    <div>
                        <MudTextField @bind-Value="@Respuesta" Text="@Respuesta" T="string" Label="Edite la query generada." Variant="Variant.Text" Lines="5" />
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Gráficos">

                    <MudButton Class="my-6"
                               Variant="Variant.Filled"
                               ButtonType="ButtonType.Button"
                               OnClick="OnIAChart"
                               Color="Color.Primary">
                        Generar Gráfico
                    </MudButton>

                    @if (LoadingChart)
                    {
                        <div>
                            <MudProgressCircular Color="Color.Primary" Size="Size.Small" Indeterminate="true" />
                        </div>
                    }

                    @if (ChatGraficos)
                    {
                        <MudPaper Class="pa-4">

                            <MudText Typo="Typo.h6">@ChartData.Title</MudText>

                            <MudChartView ChartData="@ChartData"></MudChartView>

                        </MudPaper>
                    }

                </MudTabPanel>

            </MudTabs>
        </MudItem>

        <MudItem xs="4">
            <MudDrawer Open="@open" Anchor="Anchor.Right" ClipMode="DrawerClipMode.Always" Elevation="1" Breakpoint="Breakpoint.SmAndUp" Width="30%" Variant="@DrawerVariant.Persistent">
                <MudTabs KeepPanelsAlive="true" Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel class="chat-drawer" Text="Chat">
                        <p class="mb-6">Solicita a la IA información sobre el resultado de la consulta.</p>

                        <ChatIA Model="@Model"
                                ChatData="@chatHistory"
                                OnSend="OnIAChat"
                                OnClear="ClearChat"
                                ChatActivo="@ChatActivo"
                                ChatLoading="chatLoading"
                                _shouldScroll="@_shouldScroll">
                        </ChatIA>

                    </MudTabPanel>
                </MudTabs>
            </MudDrawer>
        </MudItem>

    </MudGrid>
</MudContainer>
